@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");
@import "@radix-ui/colors/mauve.css";

@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Book.otf) format("truetype");
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-BookItalic.otf) format("truetype");
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Bold.otf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Black.otf) format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-BlackItalic.otf) format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Medium.otf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-MediumItalic.otf) format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Light.otf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-LightItalic.otf) format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-Thin.otf) format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-ThinItalic.otf) format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-XLight.otf) format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
  url(/fonts/Gotham/Gotham-XLightItalic.otf) format("truetype");
  font-weight: 100;
  font-style: italic;
}

html {
  font-size: 15px;
}

body {
  font-family: "Gotham", "Readex Pro", -apple-system, "Helvetica", sans-serif;
  font-weight: 300;
  letter-spacing: -0.01em;
  margin: 0 auto;
  background-color: #fff;
}

p {
  font-size: 1em;
  letter-spacing: 0.5px;
  color: #6a6a6a;
}

@media (max-width: 900px) {
  header, header span {
    flex-direction: column !important;
    text-align: center !important;
  }
}
